{% load dashboard_extras %}
{% load switch_case %}
{% load device_count_in_zone %}
{% load timedelta %}

<!DOCTYPE html>
<html>
<head>
<title>BEMOSS - Weather Sensor</title>
<!--

# Authors: Kruthika Rathinavel
# Version: 2.0
# Email: kruthika@vt.edu
# Created: "2014-04-15 18:45:40"
# Updated: #


Copyright © 2014 by Virginia Polytechnic Institute and State University
All rights reserved

Virginia Polytechnic Institute and State University (Virginia Tech) owns the copyright for the BEMOSS software and its
associated documentation ("Software") and retains rights to grant research rights under patents related to
the BEMOSS software to other academic institutions or non-profit research institutions.
You should carefully read the following terms and conditions before using this software.
Your use of this Software indicates your acceptance of this license agreement and all terms and conditions.

You are hereby licensed to use the Software for Non-Commercial Purpose only.  Non-Commercial Purpose means the
use of the Software solely for research.  Non-Commercial Purpose excludes, without limitation, any use of
the Software, as part of, or in any way in connection with a product or service which is sold, offered for sale,
licensed, leased, loaned, or rented.  Permission to use, copy, modify, and distribute this compilation
for Non-Commercial Purpose to other academic institutions or non-profit research institutions is hereby granted
without fee, subject to the following terms of this license.

Commercial Use: If you desire to use the software for profit-making or commercial purposes,
you agree to negotiate in good faith a license with Virginia Tech prior to such profit-making or commercial use.
Virginia Tech shall have no obligation to grant such license to you, and may grant exclusive or non-exclusive
licenses to others. You may contact the following by email to discuss commercial use:: vtippatents@vtip.org

Limitation of Liability: IN NO EVENT WILL VIRGINIA TECH, OR ANY OTHER PARTY WHO MAY MODIFY AND/OR REDISTRIBUTE
THE PROGRAM AS PERMITTED ABOVE, BE LIABLE TO YOU FOR DAMAGES, INCLUDING ANY GENERAL, SPECIAL, INCIDENTAL OR
CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE OR INABILITY TO USE THE PROGRAM (INCLUDING BUT NOT LIMITED TO
LOSS OF DATA OR DATA BEING RENDERED INACCURATE OR LOSSES SUSTAINED BY YOU OR THIRD PARTIES OR A FAILURE
OF THE PROGRAM TO OPERATE WITH ANY OTHER PROGRAMS), EVEN IF VIRGINIA TECH OR OTHER PARTY HAS BEEN ADVISED
OF THE POSSIBILITY OF SUCH DAMAGES.

For full terms and conditions, please visit https://bitbucket.org/bemoss/bemoss_os.

Address all correspondence regarding this license to Virginia Tech's electronic mail address:: vtippatents@vtip.org


    -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
<link href="/static/css/thin-admin.css" rel="stylesheet" media="screen">
<link href="/static/css/font-awesome.css" rel="stylesheet" media="screen">
<link href="/static/weathericons/css/weather-icons.css" rel="stylesheet" media="screen">
    <link media="screen" rel="stylesheet" href="/static/font-awesome-4.0.3/css/font-awesome.min.css">
<link href="/static/style/style.css" rel="stylesheet">
<link href="/static/style/dashboard.css" rel="stylesheet">
<link href="/static/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>

<!-- Notify CSS -->
<link href="/static/css/bootstrap-notify/bootstrap-notify.css" rel="stylesheet">

<!-- Custom Styles -->
<link href="/static/css/bootstrap-notify/styles/alert-bangtidy.css" rel="stylesheet">
<link href="/static/css/bootstrap-notify/styles/alert-blackgloss.css" rel="stylesheet">

<link href="/static/css/jquery-ui.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/static/assets/slider_enhancer/jquery-ui-slider-pips.css">
<!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <script class="include" type="text/javascript" src="/static/javascript/jquery.min.js"></script>
    <style>
        .wsensor {
            background-color: rgba(0, 0, 0, 0.25);
        }
    </style>
    <script>
        var agent_id = "{{ device_data.agent.agent_id }}";
        var mac = "{{ device_data.agent.mac_address }}";
    </script>
</head>
<body>
{% include 'common/top_nav.html' %}
<div class="wrapper">
{% include 'common/side_nav.html' %}
  <div class="page-content">
  	<form action="" method="post">
  	{% csrf_token %}
    <div class="content container">
        <div class="row">
        <div class="col-lg-12">
          <h2 class="page-title">{{device_info.node.node_name}} : {{device_info.nickname}}</h2>
        </div>
      </div>
        <div class="row">
            <div class="col-lg-6 col-xs-12 col-sm-6">
            <div class="widget">
            <div class="widget-header"> <i class="icon-bookmark"></i>
              <h3>Environment Status</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <div class="row">

              <div class="col-md-6 col-xs-12 col-sm-6"> <a href="#" class="stats-container">
              <div class="stats-heading">Temperature</div>
              <div class="stats-body-alt">
                <div class="text-center h2" ><span id="temperature">{{ device_data.data.temperature }}</span><span class="text-top">&deg;</span>F</div></div>
              </a> </div>
                <div class="col-md-6 col-xs-12 col-sm-6">
                    <a href="#" class="stats-container">
              <div class="stats-heading">Humidity</div>
              <div class="stats-body-alt">

                <div class="text-center h2"><span id="humidity">{{ device_data.data.humidity }}</span> %</div></div>
              </a>
                </div>

                </div>

                <div class="row">
                    {% if device_data.data.pressure != None %}
              <div class="col-md-4 col-xs-12 col-sm-6"> <a href="#" class="stats-container">
              <div class="stats-heading">Pressure</div>
              <div class="stats-body-alt">

                <div class="text-center h2"><span id="pressure">{{ device_data.data.pressure }}</span> inHg</div></div>
              </a> </div>
                    {% endif %}
                {% if device_data.data.co2 != None %}
                <div class="col-md-4 col-xs-12 col-sm-6"> <a href="#" class="stats-container">
              <div class="stats-heading">CO<span class="text-bottom">2</span></div>
              <div class="stats-body-alt">

                <div class="text-center h2"><span id="co2">{{ device_data.data.co2 }}</span> ppm</div></div>
              </a> </div>
                {% endif %}
                {% if device_data.data.noise != None %}
                <div class="col-md-4 col-xs-12 col-sm-6"> <a href="#" class="stats-container">
              <div class="stats-heading">Noise</div>
              <div class="stats-body-alt">

                <div class="text-center h2"><span id="noise">{{ device_data.data.noise }}</span> db</div></div>
              </a> </div>
                {% endif %}
                </div>
                {% if device_data.data.max_temperature != None %}
                <div class="row">
                <div class="col-md-6 col-xs-12 col-sm-6"> <a href="#" class="stats-container">
              <div class="stats-heading">Maximum Recorded Temperature</div>
              <div class="stats-body-alt">

                <div class="text-center h2"><span id="max_temp">{{ device_data.data.max_temperature }}</span><span class="text-top">&deg;</span>F</div>
                 </div>
{#              <div class="stats-footer">Date Recorded: <span id="date_max_temp">{{ device_data.data.date_max_temp|fromunix|date:"D, d M Y" }}, {{ device_data.data.date_max_temp|fromunix|time:"H:i" }}</span></div> #}
              </a></div>
               <div class="col-md-6 col-xs-12 col-sm-6"> <a href="#" class="stats-container">
              <div class="stats-heading">Minimum Recorded Temperature</div>
              <div class="stats-body-alt">

                <div class="text-center h2"><span id="min_temp">{{ device_data.data.min_temperature }}</span><span class="text-top">&deg;</span>F</div>
                 </div>
{#              <div class="stats-footer">Date Recorded: <span id="date_min_temp">{{ device_data.data.date_min_temp|fromunix|date:"D, d M Y" }}, {{ device_data.data.date_min_temp|fromunix|time:"H:i" }}</span></div>#}
              </a></div>
                </div>
                {% endif %}
            <div class="row">

                </div>

              <!-- /shortcuts -->
            </div>
            <!-- /widget-content -->
          </div>
        </div>
            </div>


        <div class="row">
            <div class="text-center">
                    <a href={% url 'charts-view-device-chart' device_data.agent.mac_address %}>
                        <button type="button" class="btn btn-default btn-danger" ><i class="icon-bar-chart"></i> View Past Usage and Set Points</button>
                    </a>

            </div>
        </div>
      	</div>

	</form>
    </div>
  </div>


<div class="bottom-nav footer"> <span class="h6"> 2013-2017 &copy; Building Energy Management Open Source Software. </span><br/></div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="/static/js/jquery.js"></script> 
<script src="/static/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="/static/js/left_nav_slider.js"></script>
<script src="/static/js/select-checkbox.js"></script> 
<script src="/static/js/to-do-admin.js"></script>
<script class="include" type="text/javascript" src="/static/javascript/jquery-1.10.2.js"></script>
<script class="include" type="text/javascript" src="/static/javascript/ui/jquery-ui.js"></script>
<script src="/static/assets/slider_enhancer/jquery-ui-slider-pips.min.js"></script>
<script class="include" type="text/javascript" src="/static/app_js/jquery.csrftoken.min.js"></script>
<script class="include" type="text/javascript" src="/static/app_js/bootstrap-notify.js"></script>
<script class="include" type="text/javascript" src="/static/app_js/weather_sensor.js"></script>
<script type="text/javascript" src="/static/app_js/make_current.js"></script>
<!--switcher html start-->
{% include 'common/theme_changer.html' %}
</body>
</html>